.block{
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
    width: 95%;
    min-width: 95%;
    margin: 50px 10px 0px 10px;
    border-radius: 15px;
    background-color: white;
    }
    
    .only-submit{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-bottom: 30px;
    }
    
    /* ---------- 3 row selection start ---------- */
    .pic{
    display: flex;
    flex-direction: row;
    width: 90%;
    margin: auto;
    height: max-content;
    align-items: center;
    justify-content: center;
    text-align: center;
    }
    
    .pic .button-group {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
    }
    
    .pic .button{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    min-width: 100px;
    height: 80px;
    max-height: 85px;
    border: none;
    font-size: 25px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-weight: 600;
    padding: 10px 20px;
    color: rgba(0, 85, 127, 1);
    background-color: white;
    border-radius: 5px;
    }
    
    .pic .button:hover {
    background-color: rgba(0, 85, 127, 1);
    color: white;
    }
    /* ---------- 3 row selection end ---------- */
    
    .block .main-title{
    display: flex;
    flex-direction: column;
    width: 90%;
    color: #C39A6F;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 30px auto 30px auto;
    font-size: 35px;
    padding-bottom: 13px;
    border-bottom: 1px solid #C39A6F;
    }
    
    /* ---------- 3 row selection end ---------- */
    .pic-content{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 95%;
    margin: auto;
    background-color: white;
    border-radius: 15px;
    }
    
    .only-content{
    display: flex;
    flex-direction: row;
    width: 90%;
    z-index: 2;
    margin: 20px auto 20px auto;
    }
    
    .only-pic{
    /* display: flex; */
    display: none;
    /* background-image: url("https://img.freepik.com/free-vector/digital-reading-illustration_335657-4792.jpg?t=st=1711941585~exp=1711945185~hmac=f92ad41410d2d5f0a7d001a42786b42bc5b89a8843b59ec71c9a5975983213f8&w=826"); */
    background-size:cover;
    background-repeat: no-repeat;
    /* flex-direction: row; */
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 700px;
    width: 40%;
    min-width: 20%;
    margin-right: 20px;
    /* height: 80%; */
    z-index: 1;
    /* border: 20px solid red; */
    
    }
    
    .only-submit{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-bottom: 30px;
    }
    
    .first_block1 {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: auto;
    border-radius: 15px;
    } 
    
    label {
    color: #00557F;
    font-size: 20px;
    font-weight: bold;
    display: block;
    margin-top: 30px;
    margin-bottom: 10px; 
    }
    
    input {
    width: 90%; 
    height: 50px;
    padding: 10px; 
    margin-bottom: 10px;
    font-size: 18px; 
    border: 1.5px solid #C39A6F; 
    border-radius: 10px; 
    }

    /* Chrome, Safari, Edge, Opera */
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
    }

    /* Firefox */
    input[type=number] {
    -moz-appearance: textfield;
}
    
    #imagePreviewContainer {
    border: 1px solid #ddd;
    padding: 10px;
    max-width: 100%;
    max-height: 400px;
    margin-top: 10px;
    box-sizing: border-box;
    }
    
    #imagePreview {
    max-width: 100%;
    max-height: 100%;
    display: block;
    margin: 0 auto;
    }
    
    #placeholderIcon {
    font-size: 50px;
    margin-bottom: 10px;
    }
    
    #placeholderText {
    text-align: center;
    color: #777;
    }
    
    .switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    }
    
    /* Hide default HTML checkbox */
    .switch input {
    opacity: 0;
    width: 0;
    height: 0;
    }
    
    /* The slider */
    .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: red;
    -webkit-transition: .4s;
    transition: .4s;
    }
    
    .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    }
    
    input:checked + .slider {
    background-color: green;
    }
    
    input:focus + .slider {
    box-shadow: 0 0 1px green;
    }
    
    input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
    }
    
    .slider.round {
    border-radius: 34px;
    }
    
    .slider.round:before {
    border-radius: 50%;
    }
    
    #dialog {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999;
    }
    #dialog-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    }
    #dialog-content h2 {
    font-size: 24px;
    margin-top: 0;
    color:rgba(195, 154, 111, 1)
    }
    #dialog-content p {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 20px;
    }
    #dialog-content button {
    display: block;
    margin: 0 auto;
    padding: 10px 20px;
    background-color: #00557F;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    }
    #dialog-content button:hover {
    background-color: #C39A6F;
    }
    
    /* ---------- Register & Catalogue content ---------- */
    
    .home-page{
    display: flex;
    flex-direction: column;
    width: 100%;
    }
    
    .register-catalogue-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto;
    width: 90%;
    margin: auto;
    }
    
    .submit-btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 10px 30px;
    margin-top: 50px;
    height: auto;
    width: 20%;
    min-width: 200px;
    background-color: #00557F;
    color: #fff;
    border: none;
    font-weight: 600;
    border-radius: 30px;
    cursor: pointer;
    font-size: 25px;
    }
    
    .submit-btn:hover {
    background-color: #C39A6F;
    }
    
    .generate-btn,
    #exportButton,
    #scanButton{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px 20px;
    background-color: transparent;
    color:#00557F;
    border: 1.5px solid #00557F;
    border-radius: 30px;
    cursor: pointer;
    font-size: 18px;
    }
    
    .generate-btn:hover,
    #exportButton:hover,
    #scanButton:hover {
    background-color: #00557F;
    color: white;
    }
    
    /* ---------- First block start ---------- */
    
    .generate-content{
    display: flex;
    flex-direction: column;
    width: 90%;
    justify-content: center;
    }
    
    /* .generate-small-block{
    display: flex;
    flex-direction: colu;
    } */
    
    .barcode-content{
    display: flex;
    flex-direction: column;
    width: 80%;
    min-width: 200px;
    margin: 20px auto 20px 0;
    }
    
    .barcode-canvas{
    display: flex;
    flex-direction: column;
    /* width: 90%; */
    margin: 20px auto 0 0;
    border: 2px solid #efefef;
    border-radius: 5px;
    /* background-color: #000; */
    }
    
    #exportButton{
    display: flex;
    flex-direction: column;
    width: max-content;
    min-width: 100px;
    height: auto;
    }

    .video-wrapper {
        position: relative;
    }
    
    .close-icon {
        position: absolute;
        top: 10px;
        right: 10px;
        cursor: pointer;
        z-index: 1; /* Ensure the icon appears on top of the video */
    }
    
    /* ---------- First block end ---------- */
    
    
    .isbn-content{
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-top: 30px;
        }
    
    /* .isbn-small-block{
    display: flex;
    flex-direction: row;
    } */
    
    @media (max-width: 1019px) {
    .title{
    display: none;
    }
    }
    
    @media (max-width: 978px) {
    .barcode-content{
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 30px auto 0 0;
    }
    
    #exportButton{
    margin-top: 10px;
    }
    }
    
    @media (max-width: 930px) {
    /* ---------- Main content start ---------- */
    main{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    margin-right: 0;
    padding-left: 70px;
    margin-left: 0%;
    width: 100%;
    transition: var(--tran-05);
    }
    
    main.expand {
    padding-left: 70px;
    }
    /* ---------- Main content end ---------- */
    }
    
    @media (max-width: 754px) {
    .title{
    display: none;
    }
    }
    
    @media (max-width: 700px) {
    .pic{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 90%;
    height: auto;
    }
    
    .pic .button-group{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 90%;
    height: auto;
    margin: 0 auto 10px auto;
    }
    
    .pic .button{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-width: 200px;
    height: auto;
    text-align: center;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-weight: 600;
    }
    
    #uploadContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90%;
    min-width: 200px;
    margin: auto;
    }
    }
    
    @media (max-width: 300px) {
    .pic{
    display: flex;
    flex-direction: column;
    width: 100%;
    min-width: 80%;
    align-items: center;
    justify-content: center;
    text-align: center;
    }
    }
        