.row2{
  display: flex;
  width: 100%;
  height: auto;
  justify-content: center; 
  margin: auto; 
  margin-top: 30px;
  }
  
  .browsingBlock {
  display: flex;
  flex-direction: column;
  width: 90%;
  padding: 0 auto 20px auto;
  background-color: white;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
  }
  
  .browsing {
  color: #00557F;
  font-weight: Bold;
  font-size: 25px;
  margin: 20px;
  opacity: 1;
  text-align: left;
  }
  
  .deleteHistory{
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 25px;
  width: auto;
  height: auto;
  font-weight: 500;
  padding: 8px 20px;
  border-radius: 10px;
  background-color: #00557F;
  border: none;
  color: white;
  margin: 30px 50px;
  }
  
  .deleteHistory:hover {
  background-color:#C39A6F;
  }
  
  .row3{
  width: 90%;
  height: auto;
  display: flex;
  justify-content: center; 
  margin: auto; 
  /* transition: ease-out 0.3s; */
  margin-top: 30px;
  }
  
  
  .feedbackBlock {
  width: 100%;
  height: auto;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  top: 65%;
  left: 0px;
  overflow: hidden;
  background: rgba(255,255,255,1);
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
  padding: 25px;
  }
  
  h2{
  color: #00557F;
  margin-bottom: 20px;
  }
  
  label[for=feedback]{
  color: #00557F;
  font-size: 20px;
  font-weight: 600;
  }
  
  
  .typingArea{
  margin-top: 10px;
  text-align: center;
  }
  
  textarea {
  resize: none;
  border-radius: 15px;
  padding: 15px;
  background-color: #f8f8f8;
  font-size: 18px;
  height: 270px;
  width: 100%;
  }
  
  #submit{
  background-color: #00557F;
  color: white;
  border-style: none;
  border-radius: 15px;
  padding: 8px;
  font-size: 20px;
  font-weight: 500;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 130px;
  float: right;
  }
  
  #submit:hover{
  background-color: #C39A6F;
  }
  
  .appearance,.browsing,.notification,.feedback {
  display: block; 
  margin-bottom: 10px;
  }
  #dialog {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
  }
  #dialog-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
  }
  #dialog-content h2 {
  font-size: 24px;
  margin-top: 0;
  color:rgba(195, 154, 111, 1)
  }
  #dialog-content p {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 20px;
  }
  #dialog-content button {
  display: block;
  margin: 0 auto;
  padding: 10px 20px;
  background-color: #00557F;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  }
  #dialog-content button:hover {
  background-color: #C39A6F;
  }
  #dialog {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
  }
  #dialog-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
  }
  #dialog-content h2 {
  font-size: 24px;
  margin-top: 0;
  color:rgba(195, 154, 111, 1)
  }
  #dialog-content p {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 20px;
  }
  #dialog-content button {
  display: block;
  margin: 0 auto;
  padding: 10px 20px;
  background-color: #00557F;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  }
  #dialog-content button:hover {
  background-color: #C39A6F;
  }